cn.com.tskpcp.app/app/app.WebClient/Service References/ServiceReference2/CodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20967/service/CodeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20967/service/CodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeService_InserCodeService_InputMessage">
    <wsdl:part name="parameters" element="tns:InserCodeService" />
  </wsdl:message>
  <wsdl:message name="ICodeService_InserCodeService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserCodeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeService_GetCodeService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeService" />
  </wsdl:message>
  <wsdl:message name="ICodeService_GetCodeService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeService">
    <wsdl:operation name="InserCodeService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeService/InserCodeService" message="tns:ICodeService_InserCodeService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeService/InserCodeServiceResponse" message="tns:ICodeService_InserCodeService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeService">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeService/GetCodeService" message="tns:ICodeService_GetCodeService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeService/GetCodeServiceResponse" message="tns:ICodeService_GetCodeService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeService" type="tns:ICodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserCodeService">
      <soap:operation soapAction="http://tempuri.org/ICodeService/InserCodeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeService">
      <soap:operation soapAction="http://tempuri.org/ICodeService/GetCodeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeService">
    <wsdl:port name="BasicHttpBinding_ICodeService" binding="tns:BasicHttpBinding_ICodeService">
      <soap:address location="http://localhost:20967/service/CodeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>